/* displaying */
.block {
  display: block;
}

.inline {
  display: inline;
}

.inlineBlock {
  display: inline-block;
}

.none {
  display: none;
}

/* position */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* visibility */
.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.invisible {
  position: absolute;
  z-index: -1;
  transform: scale(0);
}

/* text-align */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}