@charset "UTF-8";

@import 'vendor/reset.min.css';

@import 'pumpskin/colors';
@import 'pumpskin/texts';
@import 'pumpskin/base';
@import 'pumpskin/flex-boxes';
@import 'pumpskin/responsive';
@import 'pumpskin/mixins';

/* THEME EXAMPLE */
/* COLORS */
$color_primary: #ededed;
$color_secondary: orange;

$colors: (
          "primary": $color_primary,
          "secondary": $color_secondary,
          "success": $color_success,
          "error": $color_error
          );

@each $name, $color in $colors {
  /* color */
  .color_#{$name} {
    color: $color;
  }

  /* background */
  .bg_#{$name} {
    background: $color;
  }
}

/* txt */
h1,
h2,
h3 {
  margin-bottom: 12px;
  font-size: 3em;
  @extend .bold;
  @extend .upper;
  @extend .familySerif;
}

h1 {
  @extend .under;
  @extend .cap;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

p,
.text {
  @extend .familySans;
  font-size: .95em;
  line-height: 150%;

  &.text--secondary {
    @extend .familyMono;
  }
}

strong {
  @extend .bold;
}

a {
  @extend .color_secondary;

  &:hover,
  &:active {
    @extend .noDecoration;
  }
}

.btn {
  @include btn(white,orange);
}

/*  */
.block {
  padding: 5%;

  &--rl {
    padding: 2% 5%;
  }
}

