/* DISPLAY */

/* display */
[class*="-block"] {
  display: block;
}

[class*="-inline"] {
  display: inline;
}

[class*="-inlineBlock"] {
  display: inline-block;
}

[class*="-none"] {
  display: none;
}

/* position */
[class*="-relative"] {
  position: relative;
}

[class*="-absolute"] {
  position: absolute;
}

[class*="-fixed"] {
  position: fixed;
}

/* visibility */
[class*="-visible"] {
  visibility: visible;
}

[class*="-invisible"] {
  visibility: hidden;
}

/* transition */
@mixin transition($property:all,$duration:.7s,$timing:ease,$delay:0) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

%transition {
  @include transition();
}

/* opacity */
$values: "0","5","10","15","20","25","30","35","40","45","50","55","60","65","70","75","80","85","90","95","100";

@each $op in $values {
  .opacity_#{$op} {
    opacity: calc(#{$op} * 0.01);
  }
}

@each $zindex in $values {
  .z_#{$zindex} {
    z-index: #{$zindex};
  }
}