/* SPACING */
$sizes: "0","2","4","6","8","10","12","18","24","32","36","40","48","52","60","64","72","84","96","100","108","120","128","132","144","156","168","180","192","200";

@each $size in $sizes {
  /* margin */
  .mar_#{$size} {
    margin: #{$size}px;
  }

  .mar-top_#{$size} {
    margin-top: #{$size}px;
  }

  .mar-bottom_#{$size} {
    margin-bottom: #{$size}px;
  }

  .mar-left_#{$size} {
    margin-left: #{$size}px;
  }

  .mar-right_#{$size} {
    margin-right: #{$size}px;
  }

  /* padding */
  .pad_#{$size} {
    padding: #{$size}px;
  }

  .pad-top_#{$size} {
    padding-top: #{$size}px;
  }

  .pad-bottom_#{$size} {
    padding-bottom: #{$size}px;
  }

  .pad-left_#{$size} {
    padding-left: #{$size}px;
  }

  .pad-right_#{$size} {
    padding-right: #{$size}px;
  }

  /* position */
  .top_#{$size} {
    top: #{$size}px;
  }

  .bottom_#{$size} {
    bottom: #{$size}px;
  }

  .left_#{$size} {
    left: #{$size}px;
  }

  .right_#{$size} {
    right: #{$size}px;
  }
}

.mar-x_auto {
  margin: 0px auto;
}

.mar-y_auto {
  margin: auto 0px;
}