/* GRID */
.link_portfolio {
   margin: 0px 0.5% 1%;
   max-width: 24%;

   @media screen and (min-width: 768px) {
     max-width: none;
     margin: -3px;
     padding: 6px;

   }

   .img_portfolio {
    @extend .w--100;
  }
}