/* SLIDER */
.slick-slider {

  .slick-slide {
    max-height: 240px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .slick-dots {
    @extend .block;
    margin: 36px auto 0px;
    width: 300px;
    @extend .center;

    li {
      @extend .inlineBlock;
      margin: 0px 12px;
      @extend .center;

      button {
        @extend .btn;
        width: 16px;
        max-height: 16px;
        font-size: 0px;
        border-radius: 50%;
      }

      &:active button,
      &:hover button,
      &.slick-active button {
        background: $color_secondary;
        opacity: .75;
      }
    }
  }
}