/*responsive*/

/* flex */
.flex {
  @extend .column;
  @extend .justify_start;
  @extend .wrap;
  width: 100%;

  &.flex-col-around {
    @include flex;
    @extend .justify_around;
  }

  &.flex-col-between {
    @include flex;
    @extend .justify_between;
  }
}

@media screen and (min-width: 1024px) {
  .flex {
    @include flex-direction();
    @include justify-content(space-between);
    @include align-items(center);

    &.flex-reverse {
      @include flex-direction(row-reverse);
    }

    &.items-end {
      @include align-items(flex-end);
    }
  }
}

@media screen and (max-width: 1024px) {
  .xs-flex_order_4 {
    @include order(4);
  }
}

.w-25,
.w-40,
.w-50,
.w-100 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .w-40 {
    width: 40%;
  }

  .w-50 {
    width: 50%;
  }

  .w-25 {
    width: 25%;
  }
}

.h-50 {
  height: 50%;
}