/* family */
.familySans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.familySerif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.familyMono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* transform */
.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

/* decoration */
.underline {
  text-decoration: underline;
}

.noDecoration {
  text-decoration: none;
}

/* align */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

/* weight */
.bold {
  font-weight: bold;
}

/* style */
.italic {
  font-style: italic;
}

/* variant */
.smallCaps {
  font-variant: small-caps;
}

/* exposaants */
.sup {
  vertical-align: top;
  font-size: 50%;
}

.sub {
  vertical-align: baseline;
  font-size: 50%;
}