.link {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
    opacity: .8;
  }
}

.btn {
  @include button(var(--color_primary), var(--color_light) );
  padding: 0px 16px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;

  &--icon {
    padding-top: 6px;

    &:hover svg,
    &:active svg {
      fill: var(--color_primary);
    }
  }

  &--big {
    padding: 0 24px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
  }

  &--small {
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }

  &--secondary {
    @include button(var(--color_secondary), var(--color_light) );
  }

  &--warning {
    @include button(var(--color_warning), var(--color_light) );
    border-radius: 15px;
  }

  &--success {
    @include button(var(--color_success), var(--color_dark) );
  }

  &--error {
    @include button(var(--color_error), var(--color_dark) );
  }

  &--light {
    @include button(var(--color_light), var(--color_dark) );
    border: 1px solid var(--color_dark) ;
  }
}