.icon {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 2em;

	&::after {
		display: inline-block;
		transform-origin: center center;
	}

	&--close::after{
		content: "+";
		transform: rotate(45deg);
	}

}

.rounded {
	border-radius: 50%;
}