/* iframe */
.iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* iMG filter */
.black-and-white {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* CUSTOM SCROLL BAR*/
body {
  @include scroller(var(--color_light), var(--color_primary), var(--color_secondary), 12px);
}

/* PROGRESS BAR */
.progess_bar {
  z-index: 99;

  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 6px;

  background-color: var(--color_secondary);
}

/* MAP */
.map {
  width: 100%;
  height: 400px;
}

/* video - 16/9 */
.fullVideo {
  padding-top: 56.25%;
  width: 100%;
  background: grey;
}

/* LOADER */
.loader {
  display: inline-block;
  padding: 12px;
  max-width: 48px;
  border-radius: 50%;
  border: 12px solid var(--color_primary);
  border-top-color: transparent;

  animation: rotate linear 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* GRID ALIGNMENT */
.test {
  position: relative;
  $size_test: 100%;
  $frequence: 14px;
  $gradient: linear-gradient(to left, red 0%, pink 1%, white 98%);

  &::after {
    display: block;
    display: none;

    content: '';
    z-index: 9999;
    position: absolute;
    pointer-events: none;

    top: 0px;
    width: $size_test;
    height: 100%;

    border: 1px solid red;
    background: $gradient repeat-x left center;
    background-size: #{$frequence} 100%;
    opacity: .5;
  }
}