$color_primary: #dedede!default;
$color_secondary: orange!default;
$color_success: green!default;
$color_error: #8bc34f!default;

$colors: (
          "primary": $color_primary,
          "secondary": $color_secondary,
          "success": $color_success,
          "error": $color_error
          );

@each $name, $color in $colors {
  /* color */
  .color_#{$name} {
    color: $color;
  }

  /* background */
  .bg_#{$name} {
    background: $color;
  }
}