/* BOUTTONS */
@mixin btn($color:black,$bg-color:transparent,$bd-color:transparent,$w-border:1px,$radius:0px) {
  display: inline-block;
  padding: 0px 7px;
  width: auto;
  height: 40px;
  background-color: $bg-color;

  color: $color;
  @extend .center;
  line-height: 40px;
  border: $w-border solid $bd-color;
  border-radius: $radius;
  cursor: pointer;

  &:hover,
  &:active {
    color: $bg-color;
    background: $color;
    border: $w-border solid $bd-color;
  }
}

/* BACKGROUND  */
@mixin bg($bg_color:transparent,$size:cover,$repeat:no-repeat,$position:center center) {
  background: $bg_color;
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

.bg {
  @include bg();

  &.bg--auto {
    background-size: 100% auto;
  }

  &.bg--contain {
    background-size: contain;
  }

  &.bg--top {
    background-position: top center;
  }
}

/* TRANSITION */
@mixin transition($property:all,$duration:.7s,$timing:ease,$delay:0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

.transition {
  @include transition();
}

/* OMBRE */
@mixin shadow($params:0px 0px 3px #666) {
  box-shadow: $params;
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
}

.shadow {
  @include shadow();
}