.card {
  margin: $espace;
  max-width: 300px;
  @include ombre(0.1);
  @include transition();

  .card_title,
  .card_content,
  .card_btn {
    margin: $espace*2 0px 0px;
  }

  .card_img {
    width: 100%;
  }
  .card_title {
    width: 100%;
    text-align: center;
  }

  &:hover,
  &:active {
    margin-top: $espace/2;
    @include ombre(0.3);

    .card_btn {
      background: $primary_color;
      color: $secondary_color;
    }
  }
}