@import 'reset.min.css';
$style: 'dark';
@import "mixins_variables";
@import "structure";
@import "text";
@import "card";
@import "gallery";

/*TIMELINE*/
.timeline_item  {
  position: relative;
  margin-left: 5%;
  width: 90%;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    margin-top: -12px;
    width: 2px;
    height: calc(100% + 12px);
    background: $secondary_color;
  }

  &::before {
    z-index: 22;
    content: "";
    position: absolute;
    left: -5px;
    top: calc(50%);
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid $secondary_color;
    border-radius: 50%;
    background: $primary_color;
  }

  .timeline_content {
    margin: 0px $espace $espace;
    background: $secondary_color;

    .timeline_title,
    .timeline_date {
      display: block;
      margin-bottom: $espace;
    }

    .timeline_text {
      opacity: .7;
    }
  }
}

@media screen and (min-width: 768px) {
  .timeline {
    margin: 0px auto;
    width: 768px;
  }

  .timeline_item {
    margin-left: 0px;
    width: 420px;

  .timeline_content {
    margin: 0px $espace;
  }

    &:nth-child(odd) {
      margin-left: 420px;
    }

    &:nth-child(even) {

      &::after {
        left: 100%;
      }

      &:before {
        left: calc(100% - 6px);
      }
    }
  }
}