/* COLORS */
$color_primary: #ededed;
$color_secondary: #dd5c2f;
$color_light: #ffffff;
$color_dark: #000000;

$colors: (
          "primary": $color_primary,
          "secondary": $color_secondary,
          "success": $color_success,
          "error": $color_error,
          "light": $color_light,
          "dark": $color_dark,
          );

@each $name, $color in $colors {
  /* color */
  .color_#{$name} {
    color: $color;
  }

  /* background */
  .bg_#{$name} {
    background: $color;
  }
}