/* texts */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

.familySerif {
  font-family: 'Domine', serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 12px;
  font-size: 3em;
  @extend .bold;
  @extend .upper;
  @extend .familySerif;
}

h1 {
  @extend .under;
  @extend .cap;
  @extend .bold;
  font-size: 2.4em;
}

h2 {
  font-size: 2em;

  &.main_title {
    margin-top: 24px;
  }
}

h3 {
  font-size: 1.8em;
}

h4 {
  @extend .cap;
  font-size: 1.4em;
}

p,
.text {
  @extend .familySans;
  font-size: .95em;
  line-height: 150%;

  &.text--secondary {
    @extend .familyMono;
  }
}

strong {
  @extend .bold;
}

a {
  @extend .color_secondary;

  &:hover,
  &:active {
    @extend .noDecoration;
  }
}

.btn {
  @include btn($color_light,$color_secondary,$color_light);
  @extend .noDecoration;

  &.btn--large {
    width: 150px;
  }
}

.social_link {
  .element__social_link {
    @extend .inlineBlock;
    @extend .noDecoration;
    @extend .center;

    margin: 0px 12px;
    width: 28px;
    height: 28px;
    line-height: 28px;

    &.square {
      border: 1px solid $color_light;
    }

    &.rounded {
      border: 1px solid $color_light;
      border-radius: 50%;
    }

    &:hover,
    &:after {
      @extend .bg_primary;
      @extend .color_secondary;
    }
  }
}