.link {
  @extend [class*="-noDecoration"];
  @extend .color_white;

  &:hover,
  &:active {
    @extend [class*="-underline"];
  }
}

.btn {
  @extend [class*="-block"];
  @extend .pad-left_8;
  @extend .pad-right_8;
  width: 160px;
  height: 40px;

  @extend [class*="-align_center"];
  @extend [class*="-noDecoration"];
  @extend [class*="-upper"];
  @extend .borderSize_1;
  line-height: 40px;

  @extend .bg_secondary;
  @extend .color_primary;

  cursor: pointer;

  &:hover,
  &:active {
    @extend .bg_primary;
    @extend .color_white;
    @extend .borderSize_1;
    @extend .border_primary;
    @extend %transition;
  }
}

[class*="icon"] {
  @extend [class*="-inlineBlock"];
  @extend [class*="-align_center"];
  @extend .borderSize_2;
  @extend .color_primary;
  @extend .bg_white;
  @extend .border_primary;
  @extend .fontSize_1;
  cursor: pointer;

  &:hover,
  &:active,
  &.actif {
    @extend .color_white;
    @extend .bg_primary;
  }
}

/*
marge
arrondi
ombre
contour
taille
fonte

fond
couleurs texte
couleur contour
couleur ombre

 display: inline-block;
  padding: 12px;
  width: auto;
  height: 40px;

  font-size: 1.2em;
  text-decoration: none;

  border: none;
 */