/* COLORS */
$primary: #0062ff;
$secondary: #9e9e9e;
$success: green;
$error: #8bc34f;

$colors: (
          "primary": $primary,
          "secondary": $secondary,
          "success": $success,
          "black": black,
          "white": white,
          "error": $error
          );

@each $name, $color in $colors {

  /* color */
  .color_#{$name} {
    color: $color;
  }

  /* background */
  .bg_#{$name} {
    background: $color;
  }

  .border_#{$name} {
    border-color: $color;
  }
}

/* special bacground */
$bg_sizes: "auto","cover","contain";

@each $bg_size in $bg_sizes {
  .bgi_#{$bg_size} {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}